body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffff;
    margin: 20px 20px 0 20px;
}
h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}
h2{
    color: #0D0D0D;
    font-size: 30px;

}
p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}
img{
    width: 250px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-color: #ffff;
    border-width: 10px;
}
div {
    min-height: 125px;
    padding: 20px;
    border-color: #ffff;
    border-width: 3px;
    border-style: solid;
}
.introduction{
    border-radius:15px;
    margin: 15px 0 0 0;
    line-height: 2;
}
.red{
    text-align: right;
    background-color:#FF0000;
    margin:0 0 0 50px;
    border-color:#ffff;
    border-style: solid;
    border-width: 0 0 2px 5px;

}
.blue{
    background-color: #0000FF;
    text-align: left;
    margin: 0 50px 0 0;
    border-width: 2px 5px 0 0;
    border-style: solid;
    border-color:#ffff;


}
.blue h2, .blue p{
    color: #C4C4C4;
}
.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin: 0 0 0 50px;
    border-color:#ffff;
    border-style: solid;
    border-width: 0 0 2px 5px;
}
.yellow p{
    color: #707070;
}
.green{
    background-color:#008500;
    text-align:left;
    margin: 0 50px 0 0;
    border-width: 2px 5px 0 0;
    border-style: solid;
    border-color:#ffff;

}
footer{
    border-width: 5px;
    border-style: solid;
    border-color:#ffff;
    background: linear-gradient(to right, #000000, #0000ff 25%,#0066ff 70%,#0000)
}
footer p{
    font-size: 20px;
    text-align: right;
    padding:15px 15px 15px 0;
}
